input {
  display: none;
}

Button.switch-on,
Button.switch-off,
.scene-switch {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding: 0;
  font-size: small;
  white-space: nowrap;
}

.scene-switch {
  border: 1px solid #554c33;
    color: #fde293;
    background-color: #554c33;
}
Button.switch-on label>div,
Button.switch-off label>div {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

Button.switch-off {
  color: #ffffff;
  /* opacity: 0.6; */
  border-color: #303134;
  background-color: #303134;
}

Button.switch-on .content,
Button.switch-off .content {
  padding: 7px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiSlider-vertical {
  margin-left: 24px;
  height: 100px;
}

.MuiSlider-rail {
  color: transparent;
}
.MuiSlider-mark {
  border-radius: 8px;
}
.MuiSlider-thumb {
  border-radius: 12px;
  width: 14px;
  height: 14px;
}

.MuiSlider-markActive {
  background-color: transparent;
}

.MuiSlider-markActive ~ .MuiSlider-mark {
  color: transparent;
  border: 2px solid #ffffff;
}

.MuiSlider-mark {
  width: 10px;
  height: 10px;
}

.MuiButtonBase-root.MuiToggleButtonGroup-groupedHorizontal {
  color: #ffffff;
}
.MuiButtonBase-root.MuiToggleButtonGroup-groupedHorizontal.Mui-selected {
  color: #2249e1;
}